  .chart-d {
    padding: 10px;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 20px;
    background-color: rgb(223, 223, 223);
  }

  .chart-l {
    padding: 10px;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 20px;
    background-color: rgb(241, 241, 241);
  }

  .chartarea {
    background-color: rgb(48, 46, 48);
    /* padding: 5px; */
    border-style: solid;
    border-width: 2px;
    border-color: black;
    /* margin: 10px; */
  }

  .StationflexContainer {
    display: flex;
    flex-direction: row;
    background-color: wheat;
    padding-bottom: 0px;
    padding-right: 0px;
  }

  .StationflexContainer div {
    flex: 1;
    display: flex;
    background-color: wheat;
    padding-bottom: 0px;
    padding-right: 10px;
    margin: 0px;
  }